@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 6%;
    --foreground: 0 0% 100%;
    --primary: 0 0% 100%;
    --primary-foreground: 0 0% 6%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.animate-border-beam {
  animation: border-beam var(--duration) linear var(--delay) infinite;
}

@keyframes border-beam {
  from {
    offset-distance: 0%;
  }
  to {
    offset-distance: 100%;
  }
}
